body {
    font-family: 'Times New Roman', sans-serif;
    background-image: url('/vector-background.jpg');
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; /* contents are in the middle of the cross axis(perpedicular to main axis) */
}

.error-page {
    font-size: 100px;
    color:white;
    margin-bottom: 20px;
}

.back-button {
    padding: 8px 15px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;  /* Remove underline from anchor tag */
}

.back-button:hover {
    background-color: darkgray;
}